/*mobile*/
section {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #cccccc;
    color: black;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(250, 247, 247);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    scroll-behavior: smooth;
}

.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color:#080808;

}

.abrir-menu,
.cerrar-menu {
    display: none;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
 
  
  .menu a {
    color: #080808;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .menu a:hover {
    color: #ffbf00;

  }

  
img {
    max-width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 20px;
    border-radius:20%;
}
main {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px;
    display: block;    
}

section {
    
    margin-bottom: 40px;
  
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    background-color: rgb(117, 13, 214);
    padding: 15px 35px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

section h1 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
    justify-content: center;
    display: flex
}

section input {
    background-color: rgb(58, 16, 100);
    color: white;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
} 
       
section h2 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 20px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
  
}

article p {
    color:white;
    background-color: rgb(58, 16, 100);
    display: flex;
    padding: 15px
    
}

article ul {
    display: flex;
    justify-content:space-between;
    margin: 0%;
    padding: 80px;
    box-sizing: border-box;
  
}

article li {
    margin-right: 20px;
}

footer {
    background-color: rgb(58, 16, 100);
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: larger;
    color: white;
}


@media screen and (max-width: 600px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir-menu {
    color: #000000;
    }

    .cerrar-menu {
    color: #cccccc;    
    }

    .nav {
        opacity: 0;
        visibility: hidden;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #faf7f7;
        padding: 2rem;
        box-shadow: 0 0 0 0,0.1vmax rgba(0, 0, 0, 5);

    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }
}




    

    
